{% extends "base.html" %}
 
{% block content %}
    <div class="card my-5" style="max-width: 500px; margin: auto;">
        <div class="card-header fs-5 text-center py-3 text-danger">Удалениеawdawdaw задачи</div>
        <div class="card-body text-center">
            <p class="fs-5">Вы уверены, что хотите удалить проекawdawdawdwadwdт</p>
            <p class="fw-bold fs-4">«{{ project.name }}»?</p>
        </div>
        <div class="card-footer d-flex justify-content-end gap-2 py-3">
            <a href="{% url 'projects_list'  %}" class="btn btn-secondary">Отмена</a>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Удалить, да!</button>
            </form>
        </div>
    </div>
{% endblock %}
