{% extends "base.html" %}

{% block content %}
    <div class="card my-5">
        <div class="card-header fs-4 text-center py-3">Редактирование проекта</div>
        <div class="card-body">
            {% include 'partial/project_form.html' %}
        </div>
        <div class="card-footer text-end py-3">
            <a href="{% url 'projects_list' %}" class="btn btn-sm btn-secondary me-2">Отмена</a>
            <button type="submit" form="project-form" class="btn btn-sm btn-primary">Сохранить</button>
        </div>

    </div>
{% endblock %}